PowerApps/LBHMSSPositionApp/Managed/CanvasApps/src/crbb7_pwcmssposition202306201006_e2510/pkgs/Wadl/Test.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Test" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Test" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_date_def" />
      <string name="ManualTriggerInput_date_1_def" />
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="date" type="string" />
        <property name="date_1" type="string" />
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_result_def" />
      <object name="ResponseActionOutput">
        <property name="result" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="date" path="/date" type="xs:string" required="true">
              <doc title="ContractEndDate" />
            </param>
            <param style="plain" name="date_1" path="/date_1" type="xs:string" required="true">
              <doc title="Time" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="PositionNumber" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>